input.feed-search {
  width: 80% !important;  
}

.rightNav {
  position: relative;
  right: 0;
}

.spaceBetweenPosts {
  padding-top: 10px;
  padding-bottom: 10px;
}

.posts {
  margins: auto;
  left: 50%;

}

.card {
  width: 30rem;
}

.card-Right {
  text-align: right;
}