/* LoginSignup.html specific css markup */

* {
  box-sizing: border-box;
}

form {
  width: 380px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #BDBDBD;
  border: 1px solid #616161;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px, 
              rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group {
  position: relative;
  margin-bottom: 45px;
}

input {
  font-size: 1em;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: #BDBDBD;
  color: #FAFAFA
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #616161;
}

input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 1em;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.2s ease;
}

input:focus ~ label, input.used ~ label {
  top: -20px
  transform: scale(.75); /* font size 14px */
  left: -2px;
  color: #4a89dc;
}

