.btn {
  align-items: center;
}

.loginCard {
  margin: auto;
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.emailInput {
  margin-top: 5px;
  margin-bottom: 0px;
}

.passwordInput {
  margin-top: 10px;
  margin-bottom: 0px;
}