/* LoginSignup.html specific css markup */

* {
  box-sizing: border-box;
}

h3 { 
  margin-bottom: 40px;
  letter-spacing: 1px;
}

form {
  width: 400px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #BDBDBD;
  border: 1px solid #616161;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px, 
              rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

label {
  letter-spacing: 1px;
}

.group {
  position: relative;
  margin-bottom: 45px;
}

input {
  font-size: 1em;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: #BDBDBD;
  color: #FAFAFA
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #616161;
}

input:focus {
  outline: none;
}

label {
  color: #999999;
  font-size: 1em;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.2s ease;
}

/* active */

input:focus ~ label, input.used ~ label {
  top: -20px
  transform: scale(.75); /* font size 14px */
  left: -2px;
  color: #999999;
}

/* underline (bottom line) */

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #999999
  transition: all 0.2s ease;
}

.bar:before {
  left: 50%;
}

.bar:after { 
  right: 50%;
}

/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

/* highlight */

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active */

@keyframes  inputHighlighter {
  from {
    background: #212121;
  }
  to {
    width: 0;
    background: transparent;
  }
}

/* button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 48px;
  margin: .3em 0 .3em 0;
  width: 100%
  color: #ffffff;
  vertical-align: middle;
  font-size: 1em;
  text-align: left;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  border: 0;
  border-bottom: 2px solid #212121;
  cursor: pointer;
  transition: all 0.15s ease;
  background transparent;

}

.button:focus {
  outline: 0;
}

/* button modifiers */

.buttonBlue {
  background: #616161;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover {
  background: #616161;
}

/* Ripples effect */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, .25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}

/* Ripples animation */
@keyframes ripples {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%
    opacity: 0;
  }
}