/* Basic elements */

/* 
   pri: #212121
   sec: #616161
   ter: #BDBDBD
   txt: #FAFAFA
*/

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-color: #212121;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

h1 {
  color: #FAFAFA;
  margin-top: 30px;
  text-align: center;
}

h3 {
  color: #212121;
}

input {
  color: #ffffff;
}

footer h3 {
  vertical-align: bottom;
  bottom: 0;
  color: #fff;
  clear: both;

}