/* Basic elements */

/* 
   pri: #212121
   sec: #616161
   ter: #BDBDBD
   txt: #FAFAFA
*/

.border{
  border: 1px solid #000;
}

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.footer {
  text-align: left;
}